<!--
RabbitMQ OAuth Example App
Copyright 2020 VMware, Inc.

SPDX-License-Identifier: Apache-2.0

This product is licensed to you under the Apache 2.0 license
(the "License").  You may not use this product except in compliance
with the Apache 2.0 License.

This product may include a number of subcomponents with separate
copyright notices and license terms. Your use of these subcomponents
is subject to the terms and conditions of the subcomponent's license,
as noted in the LICENSE file.
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SSO RabbitMQ example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>RabbitMQ Example</h2>

<h3>Connection Status</h3>
<pre th:text="${connection_status}"></pre>

<h3>Message sent</h3>
<pre th:text="${message_sent}"></pre>

<h3>Message received</h3>
<pre th:text="${message_received}"></pre>

</body>
</html>
